@import 'variables.scss';
@import 'mixins.scss';

body,html{
    width: 100%;
    height: 100%;
    background: $skyblue;

    ul{
        list-style: none;

        li{
            color: $red;
            @include transition(all .3s ease);

            &:hover{
                background: $red;
                @include transition(all .3s ease);
            }
        }
    }
}